body { font-family: Georgia, Verdana, Arial, sans-serif; margin: 0px; padding: 0px; }
input { font-family: Georgia, Verdana, Arial, sans-serif; }
select { font-family: Georgia, Verdana, Arial, sans-serif; }
td { font-size: 90%; }
th { text-valign: top; }
